body {
  background: url(../images/Train.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
}

h1 {
  font: white;
  font-weight: 800;
}

.main {
  background: blue;
}

.title {
  color: white;
}

.card-title {
  background: lightblue;
  color: white;
}

.clock,
.date {
  margin: auto;
  color: white;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 10px;
  text-align: center;
}